interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/search/repositories?q=created:%3E2019-05-13+language:Python&sort=star&order=desc&per_page=10
  response:
    body:
      string: "{\"total_count\":12427003,\"incomplete_results\":false,\"items\":[{\"id\":527591471,\"node_id\":\"R_kgDOH3JoLw\",\"name\":\"stable-diffusion-webui\",\"full_name\":\"AUTOMATIC1111/stable-diffusion-webui\",\"private\":false,\"owner\":{\"login\":\"AUTOMATIC1111\",\"id\":20920490,\"node_id\":\"MDQ6VXNlcjIwOTIwNDkw\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/20920490?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/AUTOMATIC1111\",\"html_url\":\"https://github.com/AUTOMATIC1111\",\"followers_url\":\"https://api.github.com/users/AUTOMATIC1111/followers\",\"following_url\":\"https://api.github.com/users/AUTOMATIC1111/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/AUTOMATIC1111/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/AUTOMATIC1111/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/AUTOMATIC1111/subscriptions\",\"organizations_url\":\"https://api.github.com/users/AUTOMATIC1111/orgs\",\"repos_url\":\"https://api.github.com/users/AUTOMATIC1111/repos\",\"events_url\":\"https://api.github.com/users/AUTOMATIC1111/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/AUTOMATIC1111/received_events\",\"type\":\"User\",\"site_admin\":false},\"html_url\":\"https://github.com/AUTOMATIC1111/stable-diffusion-webui\",\"description\":\"Stable
        Diffusion web UI\",\"fork\":false,\"url\":\"https://api.github.com/repos/AUTOMATIC1111/stable-diffusion-webui\",\"forks_url\":\"https://api.github.com/repos/AUTOMATIC1111/stable-diffusion-webui/forks\",\"keys_url\":\"https://api.github.com/repos/AUTOMATIC1111/stable-diffusion-webui/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/AUTOMATIC1111/stable-diffusion-webui/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/AUTOMATIC1111/stable-diffusion-webui/teams\",\"hooks_url\":\"https://api.github.com/repos/AUTOMATIC1111/stable-diffusion-webui/hooks\",\"issue_events_url\":\"https://api.github.com/repos/AUTOMATIC1111/stable-diffusion-webui/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/AUTOMATIC1111/stable-diffusion-webui/events\",\"assignees_url\":\"https://api.github.com/repos/AUTOMATIC1111/stable-diffusion-webui/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/AUTOMATIC1111/stable-diffusion-webui/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/AUTOMATIC1111/stable-diffusion-webui/tags\",\"blobs_url\":\"https://api.github.com/repos/AUTOMATIC1111/stable-diffusion-webui/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/AUTOMATIC1111/stable-diffusion-webui/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/AUTOMATIC1111/stable-diffusion-webui/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/AUTOMATIC1111/stable-diffusion-webui/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/AUTOMATIC1111/stable-diffusion-webui/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/AUTOMATIC1111/stable-diffusion-webui/languages\",\"stargazers_url\":\"https://api.github.com/repos/AUTOMATIC1111/stable-diffusion-webui/stargazers\",\"contributors_url\":\"https://api.github.com/repos/AUTOMATIC1111/stable-diffusion-webui/contributors\",\"subscribers_url\":\"https://api.github.com/repos/AUTOMATIC1111/stable-diffusion-webui/subscribers\",\"subscription_url\":\"https://api.github.com/repos/AUTOMATIC1111/stable-diffusion-webui/subscription\",\"commits_url\":\"https://api.github.com/repos/AUTOMATIC1111/stable-diffusion-webui/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/AUTOMATIC1111/stable-diffusion-webui/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/AUTOMATIC1111/stable-diffusion-webui/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/AUTOMATIC1111/stable-diffusion-webui/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/AUTOMATIC1111/stable-diffusion-webui/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/AUTOMATIC1111/stable-diffusion-webui/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/AUTOMATIC1111/stable-diffusion-webui/merges\",\"archive_url\":\"https://api.github.com/repos/AUTOMATIC1111/stable-diffusion-webui/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/AUTOMATIC1111/stable-diffusion-webui/downloads\",\"issues_url\":\"https://api.github.com/repos/AUTOMATIC1111/stable-diffusion-webui/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/AUTOMATIC1111/stable-diffusion-webui/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/AUTOMATIC1111/stable-diffusion-webui/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/AUTOMATIC1111/stable-diffusion-webui/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/AUTOMATIC1111/stable-diffusion-webui/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/AUTOMATIC1111/stable-diffusion-webui/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/AUTOMATIC1111/stable-diffusion-webui/deployments\",\"created_at\":\"2022-08-22T14:05:26Z\",\"updated_at\":\"2024-05-11T11:17:00Z\",\"pushed_at\":\"2024-05-11T04:15:42Z\",\"git_url\":\"git://github.com/AUTOMATIC1111/stable-diffusion-webui.git\",\"ssh_url\":\"git@github.com:AUTOMATIC1111/stable-diffusion-webui.git\",\"clone_url\":\"https://github.com/AUTOMATIC1111/stable-diffusion-webui.git\",\"svn_url\":\"https://github.com/AUTOMATIC1111/stable-diffusion-webui\",\"homepage\":\"\",\"size\":35399,\"stargazers_count\":130893,\"watchers_count\":130893,\"language\":\"Python\",\"has_issues\":true,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"has_discussions\":true,\"forks_count\":25146,\"mirror_url\":null,\"archived\":false,\"disabled\":false,\"open_issues_count\":2100,\"license\":{\"key\":\"agpl-3.0\",\"name\":\"GNU
        Affero General Public License v3.0\",\"spdx_id\":\"AGPL-3.0\",\"url\":\"https://api.github.com/licenses/agpl-3.0\",\"node_id\":\"MDc6TGljZW5zZTE=\"},\"allow_forking\":true,\"is_template\":false,\"web_commit_signoff_required\":false,\"topics\":[\"ai\",\"ai-art\",\"deep-learning\",\"diffusion\",\"gradio\",\"image-generation\",\"image2image\",\"img2img\",\"pytorch\",\"stable-diffusion\",\"text2image\",\"torch\",\"txt2img\",\"unstable\",\"upscaling\",\"web\"],\"visibility\":\"public\",\"forks\":25146,\"open_issues\":2100,\"watchers\":130893,\"default_branch\":\"master\",\"permissions\":{\"admin\":false,\"maintain\":false,\"push\":false,\"triage\":false,\"pull\":true},\"score\":1.0},{\"id\":552661142,\"node_id\":\"R_kgDOIPDwlg\",\"name\":\"langchain\",\"full_name\":\"langchain-ai/langchain\",\"private\":false,\"owner\":{\"login\":\"langchain-ai\",\"id\":126733545,\"node_id\":\"O_kgDOB43M6Q\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/126733545?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/langchain-ai\",\"html_url\":\"https://github.com/langchain-ai\",\"followers_url\":\"https://api.github.com/users/langchain-ai/followers\",\"following[...]
