interactions:
- request:
    body: ''
    headers:
      authorization:
      - token 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
    method: GET
    uri: https://api.github.com/search/repositories?q=created:%3E2023-05-11&sort=star&order=desc&per_page=10
  response:
    body:
      string: "{\"total_count\":44912907,\"incomplete_results\":false,\"items\":[{\"id\":658928958,\"node_id\":\"R_kgDOJ0Z1Pg\",\"name\":\"ollama\",\"full_name\":\"ollama/ollama\",\"private\":false,\"owner\":{\"login\":\"ollama\",\"id\":151674099,\"node_id\":\"O_kgDOCQpc8w\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/151674099?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/ollama\",\"html_url\":\"https://github.com/ollama\",\"followers_url\":\"https://api.github.com/users/ollama/followers\",\"following_url\":\"https://api.github.com/users/ollama/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/ollama/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/ollama/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/ollama/subscriptions\",\"organizations_url\":\"https://api.github.com/users/ollama/orgs\",\"repos_url\":\"https://api.github.com/users/ollama/repos\",\"events_url\":\"https://api.github.com/users/ollama/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/ollama/received_events\",\"type\":\"Organization\",\"site_admin\":false},\"html_url\":\"https://github.com/ollama/ollama\",\"description\":\"Get
        up and running with Llama 3, Mistral, Gemma, and other large language models.\",\"fork\":false,\"url\":\"https://api.github.com/repos/ollama/ollama\",\"forks_url\":\"https://api.github.com/repos/ollama/ollama/forks\",\"keys_url\":\"https://api.github.com/repos/ollama/ollama/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/ollama/ollama/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/ollama/ollama/teams\",\"hooks_url\":\"https://api.github.com/repos/ollama/ollama/hooks\",\"issue_events_url\":\"https://api.github.com/repos/ollama/ollama/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/ollama/ollama/events\",\"assignees_url\":\"https://api.github.com/repos/ollama/ollama/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/ollama/ollama/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/ollama/ollama/tags\",\"blobs_url\":\"https://api.github.com/repos/ollama/ollama/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/ollama/ollama/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/ollama/ollama/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/ollama/ollama/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/ollama/ollama/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/ollama/ollama/languages\",\"stargazers_url\":\"https://api.github.com/repos/ollama/ollama/stargazers\",\"contributors_url\":\"https://api.github.com/repos/ollama/ollama/contributors\",\"subscribers_url\":\"https://api.github.com/repos/ollama/ollama/subscribers\",\"subscription_url\":\"https://api.github.com/repos/ollama/ollama/subscription\",\"commits_url\":\"https://api.github.com/repos/ollama/ollama/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/ollama/ollama/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/ollama/ollama/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/ollama/ollama/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/ollama/ollama/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/ollama/ollama/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/ollama/ollama/merges\",\"archive_url\":\"https://api.github.com/repos/ollama/ollama/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/ollama/ollama/downloads\",\"issues_url\":\"https://api.github.com/repos/ollama/ollama/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/ollama/ollama/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/ollama/ollama/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/ollama/ollama/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/ollama/ollama/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/ollama/ollama/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/ollama/ollama/deployments\",\"created_at\":\"2023-06-26T19:39:32Z\",\"updated_at\":\"2024-05-11T11:25:37Z\",\"pushed_at\":\"2024-05-11T06:19:02Z\",\"git_url\":\"git://github.com/ollama/ollama.git\",\"ssh_url\":\"git@github.com:ollama/ollama.git\",\"clone_url\":\"https://github.com/ollama/ollama.git\",\"svn_url\":\"https://github.com/ollama/ollama\",\"homepage\":\"https://ollama.com\",\"size\":10858,\"stargazers_count\":65668,\"watchers_count\":65668,\"language\":\"Go\",\"has_issues\":true,\"has_projects\":false,\"has_downloads\":true,\"has_wiki\":false,\"has_pages\":false,\"has_discussions\":false,\"forks_count\":4752,\"mirror_url\":null,\"archived\":false,\"disabled\":false,\"open_issues_count\":842,\"license\":{\"key\":\"mit\",\"name\":\"MIT
        License\",\"spdx_id\":\"MIT\",\"url\":\"https://api.github.com/licenses/mit\",\"node_id\":\"MDc6TGljZW5zZTEz\"},\"allow_forking\":true,\"is_template\":false,\"web_commit_signoff_required\":false,\"topics\":[\"go\",\"golang\",\"llama\",\"llama2\",\"llm\",\"llms\",\"mistral\",\"ollama\"],\"visibility\":\"public\",\"forks\":4752,\"open_issues\":842,\"watchers\":65668,\"default_branch\":\"main\",\"permissions\":{\"admin\":false,\"maintain\":false,\"push\":false,\"triage\":false,\"pull\":true},\"score\":1.0},{\"id\":693342566,\"node_id\":\"R_kgDOKVORZg\",\"name\":\"system-design-101\",\"full_name\":\"ByteByteGoHq/system-design-101\",\"private\":false,\"owner\":{\"login\":\"ByteByteGoHq\",\"id\":120689636,\"node_id\":\"O_kgDOBzGT5A\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/120689636?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/ByteByteGoHq\",\"html_url\":\"https://github.com/ByteByteGoHq\",\"followers_url\":\"https://api.github.com/users/ByteByteGoHq/followe[...]
