interactions:
- request:
    body: ''
    headers:
      authorization:
      - token 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
    method: GET
    uri: https://api.github.com/search/repositories?q=created:%3E2019-05-13&sort=star&order=desc&per_page=10
  response:
    body:
      string: "{\"total_count\":151687007,\"incomplete_results\":true,\"items\":[{\"id\":241576270,\"node_id\":\"MDEwOlJlcG9zaXRvcnkyNDE1NzYyNzA=\",\"name\":\"fucking-algorithm\",\"full_name\":\"labuladong/fucking-algorithm\",\"private\":false,\"owner\":{\"login\":\"labuladong\",\"id\":37220920,\"node_id\":\"MDQ6VXNlcjM3MjIwOTIw\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/37220920?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/labuladong\",\"html_url\":\"https://github.com/labuladong\",\"followers_url\":\"https://api.github.com/users/labuladong/followers\",\"following_url\":\"https://api.github.com/users/labuladong/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/labuladong/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/labuladong/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/labuladong/subscriptions\",\"organizations_url\":\"https://api.github.com/users/labuladong/orgs\",\"repos_url\":\"https://api.github.com/users/labuladong/repos\",\"events_url\":\"https://api.github.com/users/labuladong/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/labuladong/received_events\",\"type\":\"User\",\"site_admin\":false},\"html_url\":\"https://github.com/labuladong/fucking-algorithm\",\"description\":\"\u5237\u7B97\u6CD5\u5168\u9760\u5957\u8DEF\uFF0C\u8BA4\u51C6
        labuladong \u5C31\u591F\u4E86\uFF01English version supported! Crack LeetCode,
        not only how, but also why. \",\"fork\":false,\"url\":\"https://api.github.com/repos/labuladong/fucking-algorithm\",\"forks_url\":\"https://api.github.com/repos/labuladong/fucking-algorithm/forks\",\"keys_url\":\"https://api.github.com/repos/labuladong/fucking-algorithm/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/labuladong/fucking-algorithm/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/labuladong/fucking-algorithm/teams\",\"hooks_url\":\"https://api.github.com/repos/labuladong/fucking-algorithm/hooks\",\"issue_events_url\":\"https://api.github.com/repos/labuladong/fucking-algorithm/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/labuladong/fucking-algorithm/events\",\"assignees_url\":\"https://api.github.com/repos/labuladong/fucking-algorithm/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/labuladong/fucking-algorithm/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/labuladong/fucking-algorithm/tags\",\"blobs_url\":\"https://api.github.com/repos/labuladong/fucking-algorithm/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/labuladong/fucking-algorithm/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/labuladong/fucking-algorithm/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/labuladong/fucking-algorithm/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/labuladong/fucking-algorithm/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/labuladong/fucking-algorithm/languages\",\"stargazers_url\":\"https://api.github.com/repos/labuladong/fucking-algorithm/stargazers\",\"contributors_url\":\"https://api.github.com/repos/labuladong/fucking-algorithm/contributors\",\"subscribers_url\":\"https://api.github.com/repos/labuladong/fucking-algorithm/subscribers\",\"subscription_url\":\"https://api.github.com/repos/labuladong/fucking-algorithm/subscription\",\"commits_url\":\"https://api.github.com/repos/labuladong/fucking-algorithm/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/labuladong/fucking-algorithm/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/labuladong/fucking-algorithm/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/labuladong/fucking-algorithm/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/labuladong/fucking-algorithm/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/labuladong/fucking-algorithm/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/labuladong/fucking-algorithm/merges\",\"archive_url\":\"https://api.github.com/repos/labuladong/fucking-algorithm/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/labuladong/fucking-algorithm/downloads\",\"issues_url\":\"https://api.github.com/repos/labuladong/fucking-algorithm/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/labuladong/fucking-algorithm/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/labuladong/fucking-algorithm/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/labuladong/fucking-algorithm/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/labuladong/fucking-algorithm/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/labuladong/fucking-algorithm/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/labuladong/fucking-algorithm/deployments\",\"created_at\":\"2020-02-19T09:01:23Z\",\"updated_at\":\"2024-05-11T10:31:16Z\",\"pushed_at\":\"2024-05-07T07:44:25Z\",\"git_url\":\"git://github.com/labuladong/fucking-algorithm.git\",\"ssh_url\":\"git@github.com:labuladong/fucking-algorithm.git\",\"clone_url\":\"https://github.com/labuladong/fucking-algorithm.git\",\"svn_url\":\"https://github.com/labuladong/fucking-algorithm\",\"homepage\":\"https://labuladong.github.io/algo/\",\"size\":125873,\"stargazers_count\":123563,\"watchers_count\":123563,\"language\":\"Markdown\",\"has_issues\":true,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"has_discussions\":true,\"forks_count\":23100,\"mirror_url\":null,\"archived\":false,\"disabled\":false,\"open_issues_count\":411,\"license\":null,\"allow_forking\":true,\"is_template\":false,\"web_commit_signoff_required\":false,\"topics\":[\"algorithms\",\"computer-science\",\"data-structures\",\"dynamic-programming\",\"dynamic-programming-algorithm\",\"interview-questions\",\"kmp\",\"leetcode\"],\"visibility\":\"public\",\"forks\":23100,\"open_issues\":411,\"watchers\":123563,\"default_branch\":\"master\",\"permissions\":{\"admin\":false,\"maintain\":false,\"push\":false,\"triage\":false,\"pull\":true},\"score\":1.0},{\"id\":574523116,\"node_id\":\"R_kgDOIj6G7A\",\"name\":\"awesome-chatgpt-prompts\",\"full_name\":\"f/awesome-chatgpt-prompts\",\"private\":false,\"owner\":{\"login\":\"f\",\"id\":196477,\"node_id\":\"MDQ6VXNlcjE5NjQ3Nw==\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/196477?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/f\",\"html_url\":\"https://github.com/f\",\"followers_url\":\"https://api.github.com/users/f/followers\",\"following_url\":\"https://api.gith[...]
